.table{display: flex;align-items: center;justify-content: center; }
tbody th{background-color: yellowgreen;padding: 5px}
tbody th:first-child{border-top-left-radius: 5px;}
tbody th:last-child{border-top-right-radius: 5px;}
tbody tr:nth-child(2n){background-color: lightgray}
tbody tr:last-child td:first-child{border-bottom-left-radius: 5px;}
tbody tr:last-child td:last-child{border-bottom-right-radius: 5px;}
tbody tr:hover{box-shadow: 0px 7px 47px -7px rgba(196, 205, 199, 0.75);}
tbody td{padding: 5px;text-align: center}
tbody td.edited:hover{cursor: pointer; background-color: lawngreen;color: whitesmoke;border-radius: 5px;}