<table class="table">
  <tr>
    <th>№</th>
    <th>Template Name</th>
    <th>Last Update</th>
  </tr>
  <tr *ngFor="let item of template"
      [attr.data-attribute]="item[0]">
    <td>{{ item[i] }}</td>
    <td class="edited">{{ item.name }}</td>
    <td>{{ item.modified | date:"MMM d, y, h:mm:ss a" }}</td>
  </tr>
</table>